* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white:#fff;
  --background: #F2F3F5;
  --gray-line: #DCDDE0;
  --gray: #777;
  --red: #E83F5B;
  --blue: #151d27;
}

header {
  display: flex;
  
  background: var(--blue);
  color: var(--white);
  border-bottom:1px solid #1d2631;
  box-shadow: 0 2px 7px 0 rgb(0 0 0 / 30%);
}

body {
  background: var(--blue);
  color: var(--text);
}

header, body, input, textarea, button, i {
  font: 400 1rem "Open Sans", arial,helvetica;
}

button, a {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
