.logoContainer {
  cursor: pointer;
  display: flex;
  margin-top: 0.75rem;  
  margin-bottom: 0.75rem;  
}

.logoContainer > img {
  margin-left: 1rem;  
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.logoContainer div {
  margin-left: 0.75rem;  
}

.logoContainer div strong {   
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--title);
}

.mainNav {
  position: relative;
  left: 20%;
  width: 50%;  
  height: 100%;
}

.mainNav a {
  display: flex;
  height: 64px;

  align-items: center;
  justify-content: center; 
}

.mainNav a:hover {
  border-top: 3px solid #f0f1f3;
}

.mainNav ul {
  list-style: none;
  display: flex;  
}

.mainNav li {
  width: 100%;
  position: relative;
}

.mainNav li:hover .submenu > li {
  display: block;
  flex-direction: column;
}

.submenu li {
  display: none;
  position: absolute;

  color: var(--gray);
  background-color:#f9f9f9;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.submenu li {
  position: relative;
}

.submenu li:hover {
  display: block;
  background-color: #ddd;
  color: #09c;
}

.arrow {
  margin-left: 8px;
  color: #eee;
  font-size: 12px;
}
