.logoContainer {
  cursor: pointer;
  display: flex;
  margin-top: 0.75rem;  
  margin-bottom: 0.75rem;  
}

.logoContainer > img {
  margin-left: 1rem;  
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.logoContainer div {
  margin-left: 0.75rem;  
}

.logoContainer div strong {   
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--title);
}


#main-nav {
  position: relative;
  left: 20%;
  width: 50%;  
  height: 100%;
}

#main-nav a {
  display: flex;
  height: 64px;

  align-items: center;
  justify-content: center; 
}

#main-nav a:hover {
  border-top: 3px solid #f0f1f3;
}

#main-nav ul {
  list-style: none;
  display: flex;
}

#main-nav li {
  width: 100%;
  position: relative;
}

#main-nav li:hover .submenu > li {
  display: block;
  flex-direction: column;
}

.submenu li {
  display: none;
  position: absolute;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.submenu li {
  position: relative;
}

.submenu li:hover {
  display: block;
}

.arrow {
  margin-left: 8px;
  color: #eee;
  font-size: 12px;
}
